body{margin:0px;padding:0px;}
.container
{
	
	width:100%;
}
.content
{
	margin:10px;
	height:50px;
	border:1px solid #999;
	background-color:#eee;
}
@media (min-width:768px) {
  .col-sm-1 {
    width: 8.33333333%;
	display: inline-block;
/* 	float: left; */

  }
  .col-sm-2 {
    width: 16.66666667%;
	display: inline-block;
	float: left;

  }
  .col-sm-3 {
    width: 25%;
	display: inline-block;
	float: left;

  }
  .col-sm-4 {
    width: 33.33333333%;
	display: inline-block;
	float: left;

  }
  .col-sm-6 {
    width: 50%;
	display: inline-block;
	float: left;
  }
}
@media (max-width:768px)
{
	
  .col-md-2 {
    width: 16.66666667%;
	display: inline-block;
	float: left;
	
	position:relative;
  }
  .col-md-3 {
    width: 25%;
	display: inline-block;
	float: left;
	position:relative;
  }
  .col-md-6 {
    width: 50%;
	display: inline-block;
	float: left;
	position:relative;
  }
  .col-md-8 {
    width: 66.66666667%;
	display: inline-block;
	float: left;
	position:relative;
  }
  .col-md-12 {
    width:100%;
	display: inline-block;
	float: left;
	position:relative;
  }
}